.scroll-warp section {
  height: 100vh;
  width: 100vw;
}
.scroll-warp section .bg {
  background-color: #000000;
  background-image: url(../images/universe.jpg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.scroll-warp section .top-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}
