@font-face {
  font-family: 'Product';
  src: url(../font/Product-Sans-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Audiowide';
  src: url(../font/Audiowide.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Condensed';
  src: url(../font/DIN-Condensed.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
.wrapper {
  font-family: 'Product';
}
.wrapper .wallet {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9999;
}
.wrapper .wallet.btn-parent {
  background-color: #4b90f2;
}
.wrapper #start {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.wrapper #start .first {
  opacity: 0;
}
.wrapper #start .bg {
  background-color: #000000;
  background-image: url(../images/universe.jpg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.wrapper #start .top-content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
  opacity: 1;
}
.wrapper #start .top-content#canvas2 {
  z-index: 4;
  opacity: 0;
}
.wrapper #start .title {
  width: 1200px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 11;
}
.wrapper #start .title.build {
  opacity: 0;
  top: 35%;
}
.wrapper #start .title.build h2 {
  margin-bottom: 20px;
  font-size: 45px;
}
.wrapper #start .title.build p {
  background-image: linear-gradient(to right, #50a5fb, #4029f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper #start .title h1 {
  color: #fff;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
}
.wrapper #start .title .ani-dot {
  position: absolute;
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 10;
}
.wrapper #start .title .ani-dot:nth-child(1) {
  left: 0;
  top: 50%;
  animation: dotRotate1 70s infinite linear;
}
.wrapper #start .title .ani-dot:nth-child(2) {
  left: 50%;
  bottom: 0;
  transform: rotate(210deg);
  animation: dotRotate2 70s infinite linear;
}
.wrapper #start .title .ani-dot:nth-child(3) {
  left: 50%;
  top: 0;
  transform: rotate(20deg);
  animation: dotRotate3 70s infinite linear;
}
.wrapper #start .title .ani-dot:nth-child(4) {
  right: 0;
  top: 50%;
  transform: rotate(100deg);
  animation: dotRotate4 70s infinite linear;
}
.wrapper #start .title .ani-dot:after {
  background-color: #ff0808;
  border-radius: 50%;
  content: '';
  display: block;
  height: 8px;
  left: 0;
  transform: translate3d(-50%, -50%, 0);
  top: 0;
  position: absolute;
  width: 8px;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrapper #start .title .ani-dot:after {
  opacity: 1;
}
.wrapper #start .title .ani-dot:before {
  background: hsla(0, 0%, 100%, 0.3);
  content: '';
  display: block;
  height: 0.5px;
  left: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  width: 100vh;
  opacity: 0;
  transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.wrapper #start .title .ani-dot:before {
  opacity: 1;
}
.wrapper .head-section .hero {
  position: absolute;
}
.wrapper .head-section .text-width-one h2 {
  font-weight: 700;
  font-size: 62px;
  letter-spacing: 20px;
  color: #fff;
}
.wrapper .head-section .text-width-one p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 7px;
  margin: 20px 0;
}
.wrapper .head-section .inline {
  margin-top: 40px;
}
.wrapper .parent.card.best {
  flex-direction: column;
  justify-content: flex-start;
}
.wrapper .parent.card.best .best-game {
  width: 100%;
  padding: 60px 34px;
}
.wrapper .parent.card.best .best-game .title {
  font-size: 48px;
  line-height: 2;
  font-style: italic;
  margin-bottom: 40px;
  margin-top: 10px;
}
.wrapper .parent.card.best .best-game .aya {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper .parent.card.best .best-game .aya .item {
  width: 33.3%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
  margin-bottom: 20px;
}
.wrapper .parent.card.best .best-game .label {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper .parent.card.best .best-game .val {
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
}
.wrapper .parent.card.best .best-logo {
  width: 150px;
}
.wrapper .parent.card.best .btn-parent {
  background-color: #4b90f2;
}
.wrapper .grad-top {
  display: flex;
  padding: 40px;
  justify-content: space-between;
}
.wrapper .grad-top h1 {
  font-size: 34px;
  margin-bottom: 10px;
}
.wrapper .grad-top h2 {
  font-size: 14px;
  font-weight: bold;
  background-image: linear-gradient(to right, #50a5fb, #4029f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.wrapper .grad-top p {
  font-size: 14px;
  color: #404040;
}
.wrapper .grad-top .border-line-mid {
  left: 50%;
  top: 10px;
  margin-left: -0.5px;
}
.wrapper .grad-top .l,
.wrapper .grad-top .r {
  width: 500px;
}
.wrapper .grad-top .r {
  text-align: right;
}
.wrapper .text-width-four {
  text-align: center;
  width: 70%;
}
.wrapper .text-width-four .fade {
  letter-spacing: 5px;
  background-image: linear-gradient(to right, #50a5fb, #4029f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .text-width-four h2 {
  text-transform: none;
  position: relative;
  margin: 60px 0;
}
.wrapper .text-width-four h2::after {
  content: '';
  background: url(../images/titlebg.png);
  background-size: 100% 100%;
  width: 280px;
  height: 73px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .text-width-four p {
  margin: 40px 0;
}
.wrapper .text-width-four .btn-parent {
  background-color: #4b90f2;
}
.wrapper .dot-parent {
  padding-top: 12%;
}
.wrapper .head-section .container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.wrapper .head-section.hope {
  text-align: center;
}
.wrapper .head-section.hope .hope-sub,
.wrapper .head-section.hope p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper .head-section.hope h1 {
  font-size: 22px;
  line-height: 1.4;
  text-transform: none;
  width: 800px;
  margin: 0 auto;
}
.wrapper .head-section.hope .contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.wrapper .head-section.hope .contacts .inline {
  margin: 0 10px;
}
.wrapper .head-section.hope .dev {
  display: flex;
  justify-content: space-between;
}
.wrapper .head-section.hope .dev .item {
  background: url(../images/itembg.png);
  width: 268px;
  height: 343px;
  background-size: 100% 100%;
  padding: 30px;
  text-align: left;
}
.wrapper .head-section.hope .dev .item .num {
  color: #2a92f9;
  font-size: 30px;
  font-family: 'Condensed';
}
.wrapper .head-section.hope .dev .item img {
  margin: 20px 0;
}
.wrapper .head-section.hope .dev .item .title {
  font-size: 28px;
  margin: 20px 0;
}
.wrapper .head-section.hope .dev .item p {
  font-size: 16px;
  line-height: 1.6;
}
.wrapper .head-section.hope .bot {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.wrapper .head-section.hope .bot .amount {
  text-align: left;
}
.wrapper .head-section.hope .bot .amount .val {
  font-size: 34px;
  margin-bottom: 10;
}
.wrapper .head-section.hope .bot .amount .label {
  font-size: 14px;
  line-height: 3;
  background-image: linear-gradient(to right, #50a5fb, #4029f0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper .head-section.hope .bot .amount .label:nth-child(2) {
  margin-bottom: 20px;
}
.wrapper .head-section.hope .bot .intro {
  text-align: right;
  width: 220px;
}
.wrapper .head-section.hope .bot .intro p {
  line-height: 1.4;
}
.wrapper .text-width-one.sm {
  margin-top: 0;
  width: 100%;
  text-align: center;
}
.wrapper .text-width-one.sm h2 {
  font-size: 62px;
  letter-spacing: 12px;
}
.wrapper .text-width-one.sm p {
  font-size: 14px;
  margin-top: 20px;
  letter-spacing: 5px;
}
.wrapper .text-sm.caps.fade {
  color: #fff;
  opacity: 1;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper .super-text {
  font-family: 'Audiowide';
  cursor: pointer;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 0.01em;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  -webkit-transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
}
.wrapper .members {
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.wrapper .members .member {
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  width: 12.5%;
}
.wrapper .members .member::after {
  content: '';
  width: 1px;
  height: 22px;
  background-color: #555555;
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper .members .member:last-child::after {
  display: none;
}
.wrapper .members .member .name {
  font-size: 24px;
  margin-bottom: 10px;
}
.wrapper .members .member .position {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}
.wrapper .swiper {
  width: 1000px;
  height: 340px;
  background: url(../images/slideBg.png);
  background-size: 100% 100%;
}
.wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 30px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.wrapper .swiper-slide .intro {
  text-align: left;
}
.wrapper .swiper-slide .intro .name {
  font-size: 24px;
  margin-bottom: 8px;
}
.wrapper .swiper-slide .intro .position {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.wrapper .swiper-slide .intro .desc {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
  padding-right: 40px;
  max-height: 200px;
  overflow-y: auto;
}
.wrapper .swiper-slide .avatar {
  width: 310px;
  margin-right: 20px;
  flex-shrink: 0;
}
.wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper .swipe-box {
  position: relative;
}
.wrapper .swipe-box .button-next,
.wrapper .swipe-box .button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.wrapper .swipe-box .button-prev {
  background: url(../images/prev.svg);
  width: 30px;
  height: 30px;
  left: 40px;
}
.wrapper .swipe-box .button-next {
  background: url(../images/next.svg);
  width: 30px;
  height: 30px;
  right: 40px;
}
@keyframes dotRotate1 {
  0% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(480deg);
  }
}
@keyframes dotRotate2 {
  0% {
    transform: rotate(210deg);
  }
  50% {
    transform: rotate(390deg);
  }
  100% {
    transform: rotate(570deg);
  }
}
@keyframes dotRotate3 {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(200deg);
  }
  100% {
    transform: rotate(380deg);
  }
}
@keyframes dotRotate4 {
  0% {
    transform: rotate(100deg);
  }
  50% {
    transform: rotate(280deg);
  }
  100% {
    transform: rotate(460deg);
  }
}
